.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createTodoForm {
  width: 400px;
  display: flex;
  margin-bottom: 8px;
}

input {
  flex: 1;
}

.todoList {
  width: 400px;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  border: 1px solid black;
  margin-top: 10px;
}

.checked {
  /*체크 되었을때*/
}

.unchecked {
  /*체크 안되었을때*/
}
